@model SportsPrediction_NW_Baseball.Models.GamePitching

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>GamePitching</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Balks" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Balks" class="form-control" />
                <span asp-validation-for="Balks" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Double" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Double" class="form-control" />
                <span asp-validation-for="Double" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EarnedRunAverage" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EarnedRunAverage" class="form-control" />
                <span asp-validation-for="EarnedRunAverage" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EarnedRuns" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EarnedRuns" class="form-control" />
                <span asp-validation-for="EarnedRuns" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="HitByPitch" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="HitByPitch" class="form-control" />
                <span asp-validation-for="HitByPitch" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Hits" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Hits" class="form-control" />
                <span asp-validation-for="Hits" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="HomeRuns" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="HomeRuns" class="form-control" />
                <span asp-validation-for="HomeRuns" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="InningsPitched" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="InningsPitched" class="form-control" />
                <span asp-validation-for="InningsPitched" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="IntentionalWalk" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="IntentionalWalk" class="form-control" />
                <span asp-validation-for="IntentionalWalk" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Losses" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Losses" class="form-control" />
                <span asp-validation-for="Losses" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Matchdate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Matchdate" class="form-control" />
                <span asp-validation-for="Matchdate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Opponent" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Opponent" class="form-control" />
                <span asp-validation-for="Opponent" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Runs" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Runs" class="form-control" />
                <span asp-validation-for="Runs" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Saves" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Saves" class="form-control" />
                <span asp-validation-for="Saves" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Score" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Score" class="form-control" />
                <span asp-validation-for="Score" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Season" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Season" class="form-control" />
                <span asp-validation-for="Season" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Status" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Strikeouts" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Strikeouts" class="form-control" />
                <span asp-validation-for="Strikeouts" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Triple" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Triple" class="form-control" />
                <span asp-validation-for="Triple" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Type" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Walk" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Walk" class="form-control" />
                <span asp-validation-for="Walk" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="WildPitches" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="WildPitches" class="form-control" />
                <span asp-validation-for="WildPitches" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Wins" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Wins" class="form-control" />
                <span asp-validation-for="Wins" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
