@model SportsPrediction_NW_Baseball.Models.GamePitching

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>GamePitching</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Balks)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Balks)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Double)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Double)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EarnedRunAverage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EarnedRunAverage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EarnedRuns)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EarnedRuns)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HitByPitch)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HitByPitch)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hits)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hits)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HomeRuns)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HomeRuns)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InningsPitched)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InningsPitched)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IntentionalWalk)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IntentionalWalk)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Losses)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Losses)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Matchdate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Matchdate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Opponent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Opponent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Runs)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Runs)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Saves)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Saves)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Score)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Score)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Season)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Season)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Strikeouts)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Strikeouts)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Triple)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Triple)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Walk)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Walk)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WildPitches)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WildPitches)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Wins)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Wins)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
