@model IEnumerable<object>
<head>
    <link rel="stylesheet" href="~/Datepick/css/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/Datepick/css/jquery-ui.theme.min.css" />
</head>
<div class="text-center">
    <h2>GameStatistics Search</h2>
</div>

<div class="container">
    <div id="loginbox" style="margin-top:30px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Game Pitching/Batting Statistics</div>
            </div>

            <div style="padding-top:10px" class="panel-body">

                <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                <form name="form1" class="form-horizontal" role="form" asp-action="FieldSearch">

                    <div class="form-group">
                        <label class="col-md-3 control-label">Select Type</label>
                        <div class="col-md-7 inputGroupContainer">
                            <div class="input-group">
                                @Html.DropDownList("typesel")
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Enter Match Date</label>
                        <div class="col-md-7 inputGroupContainer">
                            <div class="input-group">
                                <input type="text" id="date-picker" name="SearchString" value= "@((string)ViewBag.SearchString)" placeholder="mm/dd/yyyy" /> 
                                @*<input type='text' name='SearchString' placeholder="mm/dd/yyyy" class="form-control" />*@
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-info" name="submit" value="Search" onclick="validatedate(document.form1.SearchString)" />
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

@if (ViewBag.bat != null)
{

    <style>
        table, th, td {
            font-family: arial, sans-serif;
            border: 1px solid black;
            border-collapse: collapse;
        }

        th, td {
            padding: 4px;
        }

        tr:nth-child(odd) {
            background-color: #dddddd;
        }
    </style>

    <table style="width:10%">
        <tr>
            <th>
                Matchdate
            </th>
            <th>
                Opponent
            </th>
            <th>
                Assist
            </th>
            <th>
                AtBat
            </th>
            <th>
                Avg
            </th>
            <th>
                CaughtStealing
            </th>
            <th>
                Double
            </th>
            <th>
                Error
            </th>
            <th>
                HitByPitch
            </th>
            <th>
                Hits
            </th>
            <th>
                HomeRuns
            </th>
            <th>
                IntentionalWalk
            </th>
            <th>
                Putout
            </th>
            <th>
                Runs
            </th>
            <th>
                RunsBattedIn
            </th>
            <th>
                SacrificeBunt
            </th>
            <th>
                SacrificeFly
            </th>
            <th>
                Season
            </th>
            <th>
                Status
            </th>
            <th>
                StolenBase
            </th>
            <th>
                Strikeout
            </th>
            <th>
                TimesGroundedintoDoublePlays
            </th>
            <th>
                Triple
            </th>
            <th>
                Type
            </th>
            <th>
                Walk
            </th>
        </tr>

        @foreach (var item in ViewBag.bat)
        {
            <tr>
                <td>
                    @item.Matchdate
                </td>
                <td>
                    @item.Opponent
                </td>
                <td>
                    @item.Assist
                </td>
                <td>
                    @item.AtBat
                </td>
                <td>
                    @item.Avg
                </td>
                <td>
                    @item.CaughtStealing
                </td>
                <td>
                    @item.Double
                </td>
                <td>
                    @item.Error
                </td>
                <td>
                    @item.HitByPitch
                </td>
                <td>
                    @item.Hits
                </td>
                <td>
                    @item.HomeRuns
                </td>
                <td>
                    @item.IntentionalWalk
                </td>
                <td>
                    @item.Putout
                </td>
                <td>
                    @item.Runs
                </td>
                <td>
                    @item.RunsBattedIn
                </td>
                <td>
                    @item.SacrificeBunt
                </td>
                <td>
                    @item.SacrificeFly
                </td>
                <td>
                    @item.Season
                </td>
                <td>
                    @item.Status
                </td>
                <td>
                    @item.StolenBase
                </td>
                <td>
                    @item.Strikeout
                </td>
                <td>
                    @item.TimesGroundedintoDoublePlays
                </td>
                <td>
                    @item.Triple
                </td>
                <td>
                    @item.Type
                </td>
                <td>
                    @item.Walk
                </td>
            </tr>
        }
    </table>

}

<br>

@if (ViewBag.nam != null)
                {
    <style>
        table, th, td {
            font-family: arial, sans-serif;
            border: 1px solid black;
            border-collapse: collapse;
        }

        th, td {
            padding: 4px;
        }

        tr:nth-child(odd) {
            background-color: #dddddd;
        }
    </style>

    <table style="width:10%">
        <tr class="success">
            <th>
                Matchdate
            </th>
            <th>
                Opponent
            </th>
            <th>
                Status
            </th>
            <th>
                Wins
            </th>
            <th>
                Balks
            </th>
            <th>
                Double
            </th>
            <th>
                EarnedRunAverage
            </th>
            <th>
                EarnedRuns
            </th>
            <th>
                HitByPitch
            </th>
            <th>
                Hits
            </th>
            <th>
                HomeRuns
            </th>
            <th>
                InningsPitched
            </th>
            <th>
                IntentionalWalk
            </th>
            <th>
                Losses
            </th>
            <th>
                Runs
            </th>
            <th>
                Saves
            </th>
            <th>
                Score
            </th>
            <th>
                Season
            </th>
            <th>
                Strikeouts
            </th>
            <th>
                Triple
            </th>
            <th>
                Type
            </th>
            <th>
                Walk
            </th>
            <th>
                WildPitches
            </th>
        </tr>

        @foreach (var item in ViewBag.nam)
                        {
            <tr class="info">
                <td>
                    @item.Matchdate
                </td>
                <td>
                    @item.Opponent
                </td>
                <td>
                    @item.Status
                </td>
                <td>
                    @item.Wins
                </td>
                <td>
                    @item.Balks
                </td>
                <td>
                    @item.Double
                </td>
                <td>
                    @item.EarnedRunAverage
                </td>
                <td>
                    @item.EarnedRuns
                </td>
                <td>
                    @item.HitByPitch
                </td>
                <td>
                    @item.Hits
                </td>
                <td>
                    @item.HomeRuns
                </td>
                <td>
                    @item.InningsPitched
                </td>
                <td>
                    @item.IntentionalWalk
                </td>
                <td>
                    @item.Losses
                </td>
                <td>
                    @item.Runs
                </td>
                <td>
                    @item.Saves
                </td>
                <td>
                    @item.Score
                </td>
                <td>
                    @item.Season
                </td>
                <td>
                    @item.Strikeouts
                </td>
                <td>
                    @item.Triple
                </td>
                <td>
                    @item.Type
                </td>
                <td>
                    @item.Walk
                </td>
                <td>
                    @item.WildPitches
                </td>
            </tr>
                        }
    </table>
                }

@if (ViewBag.nams == "noresult")
                {
    <div class="alert alert-warning">
        <strong>Your search did not yield any results!!</strong>
    </div>
                }

<br />
<br />
<br />
<br /><br />

@section Scripts
{
<script src="~/Datepick/js/jquery-ui.min.js"></script>

<script>
    $(document).ready(function()
    {
    var $datePicker = $('#date-picker');
    $('#date-picker').click(function (e)
    {
        $datePicker.datepicker();
     });

    });
</script>

<script src="~/js/Datvalid.js"></script>    
}


