@model IEnumerable<object>

<div class="text-center">
    <h2>Game Statistics</h2>
</div>

<p>
    @using (Html.BeginForm("Games", "GamePitchings", FormMethod.Get))
    {
    <p>
        <div class="row">
            <div class="col-md-2">
                Select Type : @Html.DropDownList("typesel")
            </div>
            <div class="col-md-2">
                Select Year : @Html.DropDownList("year")
            </div>
        </div>
        <br />
        <div class="form-group">
            <label class="col-md-2 control-label">Search by Opponent name</label>
            <div class="col-md-3 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                    <input type='text' name='SearchString' value= "@((string)ViewBag.SearchString)" placeholder="Opponent name" class="form-control" />
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-success">GO</button>
            </div>
        </div>
        <br />
        <br />
    </p>
    }
    </p>
    <br /><br />

    @if (ViewBag.bat != null)
    {
        <table class="table">
            <tr>
            <tr>
                <th>
                    Matchdate
                </th>
                <th>
                    Opponent
                </th>
                <th>
                    Runs
                </th>
                <th>
                    RunsBattedIn
                </th>
                <th>
                    Season
                </th>
                <th>
                    Status
                </th>
                <th>
                    AtBat
                </th>
                <th>
                    Avg
                </th>
                <th>
                    CaughtStealing
                </th>
                <th>
                    Hits
                </th>
                <th>
                    HomeRuns
                </th>
                <th></th>
            </tr>

            @foreach (var item in ViewBag.bat)
            {
                <tr>
                    <th>
                        @item.Matchdate
                    </th>
                    <th>
                        @item.Opponent
                    </th>
                    <th>
                        @item.Runs
                    </th>
                    <th>
                        @item.RunsBattedIn
                    </th>
                    <th>
                        @item.Season
                    </th>
                    <th>
                        @item.Status
                    </th>
                    <th>
                        @item.AtBat
                    </th>
                    <th>
                        @item.Avg
                    </th>
                    <th>
                        @item.CaughtStealing
                    </th>
                    <th>
                        @item.Hits
                    </th>
                    <th>
                        @item.HomeRuns
                    </th>
                    <th>
                        <a asp-action="GameBattingStats" asp-route-id="@item.GameBattingID">MoreStatistics</a>
                    </th>
                </tr>
            }
        </table>
    }

    @if (ViewBag.pitch != null)
    {
        <table class="table">
            <tr>
                <th>
                    Matchdate
                </th>
                <th>
                    Opponent
                </th>
                <th>
                    Status
                </th>
                <th>
                    Hits
                </th>
                <th>
                    HomeRuns
                </th>
                <th>
                    InningsPitched
                </th>
                <th>
                    Losses
                </th>
                <th>
                    Runs
                </th>
                <th>
                    Score
                </th>
                <th>
                    Season
                </th>
                <th>
                    Wins
                </th>
                <th></th>
            </tr>

            @foreach (var item in ViewBag.pitch)
            {
                <tr>
                    <th>
                        @item.Matchdate
                    </th>
                    <th>
                        @item.Opponent
                    </th>
                    <th>
                        @item.Status
                    </th>
                    <th>
                        @item.Hits
                    </th>
                    <th>
                        @item.HomeRuns
                    </th>
                    <th>
                        @item.InningsPitched
                    </th>
                    <th>
                        @item.Losses
                    </th>
                    <th>
                        @item.Runs
                    </th>
                    <th>
                        @item.Score
                    </th>
                    <th>
                        @item.Season
                    </th>
                    <th>
                        @item.Wins
                    </th>
                    <th>
                        <a asp-action="GamePitchingStats" asp-route-id="@item.GamePitchingID">MoreStatistics</a>
                    </th>
                </tr>
            }
        </table>
    }

    @if (ViewBag.pitchs != null)
    {
        List<SportsPrediction_NW_Baseball.Models.GamePitching> lstfield = Model.ToList()[0] as List<SportsPrediction_NW_Baseball.Models.GamePitching>;

        <table class="table">
            <tr>
                <th>
                    Matchdate
                </th>
                <th>
                    Opponent
                </th>
                <th>
                    Status
                </th>
                <th>
                    Hits
                </th>
                <th>
                    HomeRuns
                </th>
                <th>
                    InningsPitched
                </th>
                <th>
                    Losses
                </th>
                <th>
                    Runs
                </th>
                <th>
                    Score
                </th>
                <th>
                    Season
                </th>
                <th>
                    Wins
                </th>
                <th></th>
            </tr>

            @foreach (var item in ViewBag.pitchs)
            {
                <tr>
                    <th>
                        @item.Matchdate
                    </th>
                    <th>
                        @item.Opponent
                    </th>
                    <th>
                        @item.Status
                    </th>
                    <th>
                        @item.Hits
                    </th>
                    <th>
                        @item.HomeRuns
                    </th>
                    <th>
                        @item.InningsPitched
                    </th>
                    <th>
                        @item.Losses
                    </th>
                    <th>
                        @item.Runs
                    </th>
                    <th>
                        @item.Score
                    </th>
                    <th>
                        @item.Season
                    </th>
                    <th>
                        @item.Wins
                    </th>
                    <th>
                        <a asp-action="GamePitchingStats" asp-route-id="@item.GamePitchingID">MoreStatistics</a>
                    </th>
                </tr>
            }
        </table>
    }

    @if (ViewBag.nams == "noresult")
    {
        <div class="alert alert-warning">
            <strong>Your search did not yield any results.!! </strong>
        </div>
    }

    @if (ViewBag.nam == "noresult")
    {
        <div class="alert alert-warning">
            <strong>Your search did not yield any results!! </strong>
        </div>
    }


