@model SportsPrediction_NW_Baseball.Models.GameBatting

<div class="text-center">
    <h2>Game Batting Statistics</h2>
</div>

<div>
    <a asp-action="Games">Back to Search</a>
</div>

<style>
    table, th, td {
        font-family: arial, sans-serif;
        border: 1px solid black;
        border-collapse: collapse;
    }

    th, td {
        padding: 4px;
    }

    tr:nth-child(odd) {
        background-color: #dddddd;
    }
</style>

<table style="width:50%">
    <tr>
        <th>Matchdate</th>
        <td>@ViewData.Model.Matchdate</td>
    </tr>
    <tr>
        <th>Opponent</th>
        <td>@ViewData.Model.Opponent</td>
    </tr>
    <tr>
        <th>Status</th>
        <td>@ViewData.Model.Status</td>
    </tr>
    <tr>
        <th>Assist</th>
        <td>@ViewData.Model.Assist</td>
    </tr>
    <tr>
        <th>AtBat</th>
        <td>@ViewData.Model.AtBat</td>
    </tr>
    <tr>
        <th>Avg</th>
        <td>@ViewData.Model.Avg</td>
    </tr>
    <tr>
        <th>CaughtStealing</th>
        <td>@ViewData.Model.CaughtStealing</td>
    </tr>
    <tr>
        <th>Double</th>
        <td>@ViewData.Model.Double</td>
    </tr>
    <tr>
        <th>Error</th>
        <td>@ViewData.Model.Error</td>
    </tr>
    <tr>
        <th>HitByPitch</th>
        <td>@ViewData.Model.HitByPitch</td>
    </tr>
    <tr>
        <th>Hits</th>
        <td>@ViewData.Model.Hits</td>
    </tr>
    <tr>
        <th>HomeRuns</th>
        <td>@ViewData.Model.HomeRuns</td>
    </tr>
    <tr>
        <th>IntentionalWalk</th>
        <td>@ViewData.Model.IntentionalWalk</td>
    </tr>
    <tr>
        <th>Putout</th>
        <td>@ViewData.Model.Putout</td>
    </tr>
    <tr>
        <th>Runs</th>
        <td>@ViewData.Model.Runs</td>
    </tr>
    <tr>
        <th>RunsBattedIn</th>
        <td>@ViewData.Model.RunsBattedIn</td>
    </tr>
    <tr>
        <th>SacrificeBunt</th>
        <td>@ViewData.Model.SacrificeBunt</td>
    </tr>
    <tr>
        <th>SacrificeFly</th>
        <td>@ViewData.Model.SacrificeFly</td>
    </tr>
    <tr>
        <th>StolenBase</th>
        <td>@ViewData.Model.StolenBase</td>
    </tr>
    <tr>
        <th>Strikeout</th>
        <td>@ViewData.Model.Strikeout</td>
    </tr>
    <tr>
        <th>TimesGroundedintoDoublePlays</th>
        <td>@ViewData.Model.TimesGroundedintoDoublePlays</td>
    </tr>
    <tr>
        <th>Triple</th>
        <td>@ViewData.Model.Triple</td>
    </tr>
    <tr>
        <th>Type</th>
        <td>@ViewData.Model.Type</td>
    </tr>
    <tr>
        <th>Walk</th>
        <td>@ViewData.Model.Walk</td>
    </tr>
</table>



