@model SportsPrediction_NW_Baseball.Models.GamePitching

<div class="text-center">
    <h2>Game Pitching Statistics</h2>
</div>

<div>
    <a asp-action="Games">Back to Search</a>
</div>

<style>
    table, th, td {
        font-family: arial, sans-serif;
        border: 1px solid black;
        border-collapse: collapse;
    }

    th, td {
        padding: 4px;
    }

    tr:nth-child(odd) {
        background-color: #dddddd;
    }
</style>

<table style="width:50%">
    <tr>
        <th>Matchdate</th>
        <td>@ViewData.Model.Matchdate</td>
    </tr>
    <tr>
        <th>Opponent</th>
        <td>@ViewData.Model.Opponent</td>
    </tr>
    <tr>
        <th>Status</th>
        <td>@ViewData.Model.Status</td>
    </tr>
    <tr>
        <th>Balks</th>
        <td>@ViewData.Model.Balks</td>
    </tr>
    <tr>
        <th>Double</th>
        <td>@ViewData.Model.Double</td>
    </tr>
    <tr>
        <th>EarnedRunAverage</th>
        <td>@ViewData.Model.EarnedRunAverage</td>
    </tr>
    <tr>
        <th>EarnedRuns</th>
        <td>@ViewData.Model.EarnedRuns</td>
    </tr>
    <tr>
        <th>HitByPitch</th>
        <td>@ViewData.Model.HitByPitch</td>
    </tr>
    <tr>
        <th>Hits</th>
        <td>@ViewData.Model.Hits</td>
    </tr>
    <tr>
        <th>HomeRuns</th>
        <td>@ViewData.Model.HomeRuns</td>
    </tr>
    <tr>
        <th>InningsPitched</th>
        <td>@ViewData.Model.InningsPitched</td>
    </tr>
    <tr>
        <th>IntentionalWalk</th>
        <td>@ViewData.Model.IntentionalWalk</td>
    </tr>
    <tr>
        <th>Losses</th>
        <td>@ViewData.Model.Losses</td>
    </tr>
    <tr>
        <th>Runs</th>
        <td>@ViewData.Model.Runs</td>
    </tr>
    <tr>
        <th>Saves</th>
        <td>@ViewData.Model.Saves</td>
    </tr>
    <tr>
        <th>Score</th>
        <td>@ViewData.Model.Score</td>
    </tr>
    <tr>
        <th>Season</th>
        <td>@ViewData.Model.Season</td>
    </tr>
    <tr>
        <th>Strikeouts</th>
        <td>@ViewData.Model.Strikeouts</td>
    </tr>
    <tr>
        <th>Triple</th>
        <td>@ViewData.Model.Triple</td>
    </tr>
    <tr>
        <th>Walk</th>
        <td>@ViewData.Model.Walk</td>
    </tr>
    <tr>
        <th>WildPitches</th>
        <td>@ViewData.Model.WildPitches</td>
    </tr>
    <tr>
        <th>Wins</th>
        <td>@ViewData.Model.Wins</td>
    </tr>
</table>



