@model IEnumerable<SportsPrediction_NW_Baseball.Models.GamePitching>

<div class="text-center">
    <h2>Game pitching Statistics Search</h2>
</div>

<div class="container">
    <div id="loginbox" style="margin-top:30px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Game pitching Statistics</div>
            </div>

            <div style="padding-top:10px" class="panel-body">

                <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                <form name="form1" class="form-horizontal" role="form" asp-action="FieldSearch">

                    <div class="form-group">
                        <label class="col-md-3 control-label">Enter Match Date</label>
                        <div class="col-md-7 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                <input type='text' name='SearchString' placeholder="mm/dd/yyyy" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">OpponentName</label>
                        <div class="col-md-7 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                                <input type='text' name='Oppname' placeholder="Opponent name" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-info" name="submit" value="Search" onclick="validatedate(document.form1.SearchString)" />
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

@if (ViewBag.nam != null)
{
    <style>
        table, th, td {
            font-family: arial, sans-serif;
            border: 1px solid black;
            border-collapse: collapse;
        }

        th, td {
            padding: 4px;
        }

        tr:nth-child(odd) {
            background-color: #dddddd;
        }
    </style>

    <table  style="width:10%">
        <tr class="success">
            <th>
                @Html.DisplayNameFor(model => model.Matchdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opponent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wins)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Double)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EarnedRunAverage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EarnedRuns)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HitByPitch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomeRuns)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InningsPitched)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IntentionalWalk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Losses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Runs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Saves)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Season)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Strikeouts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Triple)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Walk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WildPitches)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="info">
                <td>
                    @Html.DisplayFor(modelItem => item.Matchdate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Opponent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Wins)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Balks)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Double)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EarnedRunAverage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EarnedRuns)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HitByPitch)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hits)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HomeRuns)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InningsPitched)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IntentionalWalk)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Losses)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Runs)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Saves)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Score)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Season)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Strikeouts)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Triple)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Walk)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WildPitches)
                </td>
            </tr>
        }
    </table>
}

@if (ViewBag.nams == "noresult")
{
    <div class="alert alert-warning">
        <strong>Your search did not yield any results!!Either you have entered incorrect date or there are no matches played on that particular date. </strong>
    </div>
}

<br />
<br />
<br />
<br /><br />

@section Scripts
{
    <script src="~/js/Datvalid.js"></script>
}


