@model IEnumerable<SportsPrediction_NW_Baseball.Models.GamePitching>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Balks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Double)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EarnedRunAverage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EarnedRuns)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HitByPitch)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hits)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeRuns)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InningsPitched)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IntentionalWalk)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Losses)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Matchdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Opponent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Runs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Saves)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Season)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Strikeouts)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Triple)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Walk)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WildPitches)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Wins)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Balks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Double)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EarnedRunAverage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EarnedRuns)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HitByPitch)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hits)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HomeRuns)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InningsPitched)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IntentionalWalk)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Losses)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Matchdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Opponent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Runs)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Saves)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Score)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Season)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Strikeouts)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Triple)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Walk)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WildPitches)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Wins)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.GamePitchingID">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.GamePitchingID">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.GamePitchingID">Delete</a>
        </td>
    </tr>
}
</table>
