@model SportsPrediction_NW_Baseball.Models.PlayerBatting

 <div class="text-center">
    <h2>Batting Statistics</h2>
 </div>
             
<div>
    <a asp-action="Batting">Back to  Players Batting</a>
</div>

<style>
    table, th, td 
    {
        font-family: arial, sans-serif;
        border: 1px solid black;
        border-collapse: collapse;
    }

    th, td 
    {
        padding: 4px;
    }

    tr:nth-child(odd) 
    {
        background-color: #dddddd;
    }
</style>

<table style="width:20%">
    <tr>
        <th>Year</th>
        <td>@ViewData.Model.Year</td>
    </tr>
    <tr>
        <th>PlayerName</th>
        <td>@ViewData.Model.Name</td>
    </tr>
    <tr>
        <th>PlayerNumber</th>
        <td>@ViewData.Model.PlayerNumber</td>
    </tr>
    <tr>
        <th>AtBat</th>
        <td>@ViewData.Model.AtBat</td>
    </tr>
    <tr>
        <th>Average</th>
        <td>@ViewData.Model.Average</td>
    </tr>
    <tr>
        <th>Double</th>
        <td>@ViewData.Model.Double</td>
    </tr>
    <tr>
        <th>GamesPlayed</th>
        <td>@ViewData.Model.GamesPlayed</td>
    </tr>
    <tr>
        <th>GamesStarted</th>
        <td>@ViewData.Model.GamesStarted</td>
    </tr>
    <tr>
        <th>Hits</th>
        <td>@ViewData.Model.Hits</td>
    </tr>
    <tr>
        <th>Runs</th>
        <td>@ViewData.Model.Runs</td>
    </tr>
    <tr>
        <th>RunsBattedIn</th>
        <td>@ViewData.Model.RunsBattedIn</td>
    </tr>
    <tr>
        <th>StolenBase</th>
        <td>@ViewData.Model.StolenBase</td>
    </tr>
    <tr>
        <th>Triple</th>
        <td>@ViewData.Model.Triple</td>
    </tr>
    <tr>
        <th>TotalBases</th>
        <td>@ViewData.Model.TotalBases</td>
    </tr>
</table>





<br /><br /><br />

