@model IEnumerable<SportsPrediction_NW_Baseball.Models.PlayerBatting>

@{
    ViewData["Title"] = "Batting";
}

<div class="text-center">
<h2>Player Batting Statistics</h2>
</div>

<p>
    @using (Html.BeginForm("Batting", "PlayerBattings", FormMethod.Get))
    {
    <p>
        Year : @Html.DropDownList("year")<br/><br/>       
        Sort By : @Html.DropDownList("sortType")<br /><br />       
        Search By Player Name: @Html.TextBox("SearchString") <br /><br />
        <input type="submit" class="btn btn-info" value="Search" />
    </p>
    }
    </p>

@if (ViewBag.noresult != null)
{
    <div class="alert alert-warning">
        <strong>Your search did not yield any results.!! </strong>
    </div>
}
else
{
    <table class ="table">
        <tr>
            <th>
                PlayerName
            </th>
            <th>
                PlayerNumber
            </th>
            <th>
                Hits
            </th>
            <th>
               HomeRun
            </th>
            <th>
                Runs
            </th>
            <th>
                GamesPlayed
            </th>
            <th>
                GamesStarted
            </th>
            <th>
                TotalBases
            </th>
            <th>
                Year
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => item.Name)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.PlayerNumber)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.Hits)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.HomeRun)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.Runs)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.GamesPlayed)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.GamesStarted)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.TotalBases)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.Year)
                </th>
                <th>                    
                    <a asp-action="BattingStatistics" asp-route-id="@item.BattingID">More Statistics</a> 
                </th>
            </tr>
        }

    </table>

}