@model SportsPrediction_NW_Baseball.Models.PlayerBatting

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>PlayerBatting</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="AtBat" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AtBat" class="form-control" />
                <span asp-validation-for="AtBat" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Average" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Average" class="form-control" />
                <span asp-validation-for="Average" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Double" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Double" class="form-control" />
                <span asp-validation-for="Double" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="GamesPlayed" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="GamesPlayed" class="form-control" />
                <span asp-validation-for="GamesPlayed" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="GamesStarted" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="GamesStarted" class="form-control" />
                <span asp-validation-for="GamesStarted" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Hits" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Hits" class="form-control" />
                <span asp-validation-for="Hits" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="HomeRun" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="HomeRun" class="form-control" />
                <span asp-validation-for="HomeRun" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PlayerNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PlayerNumber" class="form-control" />
                <span asp-validation-for="PlayerNumber" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Runs" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Runs" class="form-control" />
                <span asp-validation-for="Runs" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="RunsBattedIn" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="RunsBattedIn" class="form-control" />
                <span asp-validation-for="RunsBattedIn" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StolenBase" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="StolenBase" class="form-control" />
                <span asp-validation-for="StolenBase" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TotalBases" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TotalBases" class="form-control" />
                <span asp-validation-for="TotalBases" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Triple" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Triple" class="form-control" />
                <span asp-validation-for="Triple" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Type" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Year" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

