@model SportsPrediction_NW_Baseball.Models.PlayerBatting

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>PlayerBatting</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AtBat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AtBat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Average)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Average)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Double)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Double)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GamesPlayed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GamesPlayed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GamesStarted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GamesStarted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hits)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hits)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HomeRun)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HomeRun)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlayerNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlayerNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Runs)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Runs)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RunsBattedIn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RunsBattedIn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StolenBase)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StolenBase)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalBases)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalBases)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Triple)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Triple)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.BattingID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
