@model IEnumerable<SportsPrediction_NW_Baseball.Models.PlayerFielding>

@{
    ViewData["Title"] = "Fielding";
}
<div class="text-center">
    <h2>Player Fielding Statistics</h2>
</div>

<p>
    @using (Html.BeginForm("Fielding", "Players", FormMethod.Get))
    {
    <p>
        Year : @Html.DropDownList("year")<br /><br />
        Sort By : @Html.DropDownList("sortType")<br /><br />       
        Search By Player Name: @Html.TextBox("SearchString") <br /><br />
        <input type="submit" class="btn btn-info" value="Search" />
    </p>
    }
</p>


 @if (ViewBag.noresult != null)
 {
    <div class="alert alert-warning">
        <strong>Your search did not yield any results.!! </strong>
    </div>
 }
 else
 {
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PlayerName)
            @*@Html.ActionLink("Name", "Fielding", new { sortOrder = ViewBag.nameSort,year = ViewBag.years })*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlayerNumber)
           @*@Html.ActionLink("PlayerNumber", "Fielding", new { sortOrder = ViewBag.playerNumberSort })*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Assist)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DoublePlay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Putout)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.catcher)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StolenBallsAttempted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PassedBall)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.PlayerName)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.PlayerNumber)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Assist)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.DoublePlay)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Putout)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.catcher)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.StolenBallsAttempted)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.PassedBall)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Year)
            </th>
            <th>
                <a asp-action="FieldingStatistics" asp-route-id="@item.FieldingID">MoreStatistics</a> 
            </th>
        </tr>
    }
</table>
 }


