@model SportsPrediction_NW_Baseball.Models.PlayerFielding

<div>
    <a asp-action="Fielding">Back</a>
</div>

<style>
    table, th, td 
    {
        font-family: arial, sans-serif;
        border: 1px solid black;
        border-collapse: collapse;
    }

    th, td 
    {
        padding: 4px;
    }

    tr:nth-child(odd) 
    {
        background-color: #dddddd;
    }

</style>

<table style="width:20%">
    <tr>
        <th>Year</th>
        <td>@ViewData.Model.Year</td>
    </tr>
    <tr>
        <th>PlayerName</th>
        <td>@ViewData.Model.PlayerName</td>
    </tr>
    <tr>
        <th>PlayerNumber</th>
        <td>@ViewData.Model.PlayerNumber</td>
    </tr>
    <tr>
        <th>AtBat</th>
        <td>@ViewData.Model.catcher</td>
    </tr>
    <tr>
        <th>Average</th>
        <td>@ViewData.Model.DoublePlay</td>
    </tr>
    <tr>
        <th>Double</th>
        <td>@ViewData.Model.FieldingPercentage</td>
    </tr>
    <tr>
        <th>GamesPlayed</th>
        <td>@ViewData.Model.Putout</td>
    </tr>
    <tr>
        <th>GamesStarted</th>
        <td>@ViewData.Model.StolenBallsAttempted</td>
    </tr>
    <tr>
        <th>Hits</th>
        <td>@ViewData.Model.Error</td>
    </tr>
    <tr>
        <th>Runs</th>
        <td>@ViewData.Model.PassedBall</td>
    </tr>
    <tr>
        <th>RunsBattedIn</th>
        <td>@ViewData.Model.Assist</td>
    </tr>
</table>


<br /><br /><br />

