@model IEnumerable<SportsPrediction_NW_Baseball.Models.PlayerBatting>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AtBat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Average)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Double)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GamesPlayed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GamesStarted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hits)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeRun)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlayerNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Runs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RunsBattedIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StolenBase)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalBases)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Triple)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AtBat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Average)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Double)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GamesPlayed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GamesStarted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hits)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HomeRun)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlayerNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Runs)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RunsBattedIn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StolenBase)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalBases)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Triple)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.BattingID">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.BattingID">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.BattingID">Delete</a>
        </td>
    </tr>
}
</table>
