@model IEnumerable<SportsPrediction_NW_Baseball.Models.PlayerPitching>

@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pitching</title>
</head>
<body>

<div class="text-center">
<h2>Player Pitching Statistics</h2>
</div>

<p>
    @using (Html.BeginForm("Pitching", "PlayerBattings", FormMethod.Get))
    {
    <p>
        Year : @Html.DropDownList("year")<br/><br/>       
        Sort By : @Html.DropDownList("sortType")<br /><br />    
        Search By Player Name: @Html.TextBox("SearchString") <br /><br />
        <input type="submit" class="btn btn-info" value="Search" />
    </p>
    }
    </p>

@if (ViewBag.noresult == "noresult")
{
    <div class="alert alert-warning">
        <strong>Your search did not yield any results.!! </strong>
    </div>
}
else
{
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PlayerNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlayerName)
         </th>
        <th>
            @Html.DisplayNameFor(model => model.AtBat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EarnedRunAverage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeRun)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InningsPitched)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Runs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Double)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EarnedRuns)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model)
{
    <tr>
        <th>
            @Html.DisplayFor(modelItem => item.PlayerNumber)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.PlayerName)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.AtBat)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.EarnedRunAverage)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.HomeRun)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.InningsPitched)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.Runs)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.Double)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.EarnedRuns)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.Type)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.Year)
        </th>
        <th>
            <a asp-action="PitchingStatistics" asp-route-id="@item.PitchingID">More Statistics</a>
        </th>
    </tr>
}

</table>
}
</body>
</html>
