@model SportsPrediction_NW_Baseball.Models.PlayerPitching

@{
 
}

<div class="text-center">
    <h2>Pitching Statistics</h2>
</div>

<div>
    <a asp-action="Batting">Back to  Players pitching</a>
</div>

<style>
    table, th, td 
    {
        font-family: arial, sans-serif;
        border: 1px solid black;
        border-collapse: collapse;
    }

    th, td 
    {
        padding: 4px;
    }

    tr:nth-child(odd) 
    {
        background-color: #dddddd;
    }
</style>

<table style="width:20%">
    <tr>
        <th>PlayerName</th>
        <td>@ViewData.Model.PlayerName</td>
    </tr>
    <tr>
        <th>PlayerNumber</th>
        <td>@ViewData.Model.PlayerNumber</td>
    </tr>
    <tr>
        <th>AppearanceGamesStarted</th>
        <td>@ViewData.Model.AppearanceGamesStarted</td>
    </tr>
    <tr>
        <th>AtBat</th>
        <td>@ViewData.Model.AtBat</td>
    </tr>
    <tr>
        <th>BAverage</th>
        <td>@ViewData.Model.BAverage</td>
    </tr>
    <tr>
        <th>Balk</th>
        <td>@ViewData.Model.Balk</td>
    </tr>
    <tr>
        <th>CompleteGame</th>
        <td>@ViewData.Model.CompleteGame</td>
    </tr>
    <tr>
        <th>Double</th>
        <td>@ViewData.Model.Double</td>
    </tr>
    <tr>
        <th>EarnedRunAverage</th>
        <td>@ViewData.Model.EarnedRunAverage</td>
    </tr>
    <tr>
        <th>EarnedRuns</th>
        <td>@ViewData.Model.EarnedRuns</td>
    </tr>
    <tr>
        <th>HitByPitch</th>
        <td>@ViewData.Model.HitByPitch</td>
    </tr>
    <tr>
        <th>Hold</th>
        <td>@ViewData.Model.Hold</td>
    </tr>
    <tr>
        <th>HomeRun</th>
        <td>@ViewData.Model.HomeRun</td>
    </tr>
    <tr>
        <th>InningsPitched</th>
        <td>@ViewData.Model.InningsPitched</td>
    </tr>
    <tr>
        <th>Runs</th>
        <td>@ViewData.Model.Runs</td>
    </tr>
    <tr>
        <th>SacrificeFly</th>
        <td>@ViewData.Model.SacrificeFly</td>
    </tr>
    <tr>
        <th>SacrificeHit</th>
        <td>@ViewData.Model.SacrificeHit</td>
    </tr>
    <tr>
        <th>Save</th>
        <td>@ViewData.Model.Save</td>
    </tr>
    <tr>
        <th>Shutout</th>
        <td>@ViewData.Model.Shutout</td>
    </tr>
    <tr>
        <th>StrikeOut</th>
        <td>@ViewData.Model.StrikeOut</td>
    </tr>
    <tr>
        <th>Triple</th>
        <td>@ViewData.Model.Triple</td>
    </tr>
    <tr>
        <th>Type</th>
        <td>@ViewData.Model.Type</td>
    </tr>
    <tr>
        <th>Walks</th>
        <td>@ViewData.Model.Walks</td>
    </tr>
    <tr>
        <th>WildPitch</th>
        <td>@ViewData.Model.WildPitch</td>
    </tr>
    <tr>
        <th>Year</th>
        <td>@ViewData.Model.Year</td>
    </tr>
    <tr>
        <th>winsLosses</th>
        <td>@ViewData.Model.winsLosses</td>
    </tr>
</table>



<br /><br /><br />

     
