@model SportsPrediction_NW_Baseball.Models.Roaster

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Roaster</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AcademicClass)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AcademicClass)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Highschool)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Highschool)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hometown)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hometown)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.RoasterID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
