﻿@model IEnumerable<SportsPrediction_NW_Baseball.Models.Roaster>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 24 Persons</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/animate.css" />
        <link rel="stylesheet" href="~/css/home.css" />

    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />

    </environment>
    <style>
        #myProgress {
            position: relative;
            width: 100%;
            height: 30px;
            background-color: #ddd;
        }

        #myBar {
            position: absolute;
            width: 0%;
            height: 100%;
            background-color: lightcoral;
        }

        .display {
        
           background-color:seagreen;
        
        }

        #aboutus {
            background-image: url('/img/background.jpg');
            background-size: contain;
        }

        .linksHover a {
            opacity: 0.6;
        }

            .linksHover a:hover {
                opacity: 1;
            }
    </style>
</head>
<body>
    <div class="row">
        <div class="col-sm-1 sidenav"></div>
        <div class="col-sm-2 sidenav">
            <br />
            @using (Html.BeginForm())
            {
                <p>
                    <h3>Filter By:</h3><br />@Html.TextBox("SearchString")
                    <br /><br />
                    <input type="submit" value="Search" />
                </p>
            }
            <br /><br />
            <h3>Sort By</h3>
            <p>@Html.ActionLink("First Name", "Index", new { sortOrder = ViewBag.FirstNameSortParm })</p>
            <p>@Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.LastNameSortParm })</p>
            <p>@Html.ActionLink("Position", "Index", new { sortOrder = ViewBag.PositionSortParm })</p>            
        </div>

        <div class="col-sm-9 text-left">

            @foreach (var item in Model)
            {
                <br />
                <div class="col-lg-12 text-left">
                    <div class="row">
                        <div class="col-sm-2">
                            @*<img src="~/lib/bootstrap/dist/images/defaultuser.png" /><br />*@
                            <img src="@Html.DisplayFor(modelItem => item.Image)" class="img-responsive" alt="FindTalent Profile">
                            <br />
                        </div>
                        <div class="col-md-4">
                            <p>Name: @Html.DisplayFor(modelItem => item.LastName), @Html.DisplayFor(modelItem => item.FirstName) </p> 
                            <p>Position: @Html.DisplayFor(modelItem => item.Position) </p>
                            <p>Height: @Html.DisplayFor(modelItem => item.Height) </p>
                            <p>Weight: @Html.DisplayFor(modelItem => item.Weight) </p>
                            <p>Hometown: @Html.DisplayFor(modelItem => item.Hometown) </p>
                            
                        </div>

                        <div class="col-md-4">

                            <a data-toggle="modal" data-target="#@item.FirstName">Details</a> <br />
                            @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                            {
                                // Do something here
                                <a asp-action="Edit" asp-route-id="@item.RoasterID">Edit</a><br />
                                <a asp-action="Delete" asp-route-id="@item.RoasterID">Delete</a>
                            }

                        </div>

                    </div>
                    <div class="row">
                        <br /><br />
                    </div>

                </div>

            }

        </div>
    </div>

    <!--MODAl_target--Akhil-->>

    <div class="modal fade" id="Fort" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Fort</h4>
                </div>
                <div class="modal-body">
                    <img class="img-responsive center-block" src="~/lib/bootstrap/dist/images/Fort.jpg" alt="">
                    <div style="margin-top:3px; font-family:'Times New Roman', Times, serif;font-size:14px">
                        <b style="font-family:'Dosis-Medium';color:seagreen">Description: </b> Appeared in nine games with four at bats ... Had two hits, including a double, and scored three runs ... Was perfect in relief behind the plate with seven put outs
                        <ul>
                            <li style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:small;font-weight:bold">Class: Junior</li>
                            <li style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:small;font-weight:bold">Height: 5 ft 6 inch</li>
                            <li style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:small;font-weight:bold">Position: Infield</li>
                        </ul>
                    </div>
                    <hr />
                    <h4><b style="font-family:'Dosis-Medium';color:seagreen">Player Profile</b></h4>
                   
   
                            <table class="table">
                                <thead class="display">
                                    <tr>
                                        <th>STATISTICS CATEGORY</th>
                                        <th>OVERALL</th>
                                        <th>CONF</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Games</td>
                                        <td>6</td>
                                        <td>4</td>
                                    </tr>
                                    <tr>
                                        <td>At Bats</td>
                                        <td>3</td>
                                        <td>4</td>
                                    </tr>
                                    <tr>
                                        <td>Runs</td>
                                        <td>78</td>
                                        <td>21</td>
                                    </tr>

                                    <tr>
                                        <td>Hits</td>
                                        <td>34</td>
                                        <td>23</td>
                                    </tr>
                                    <tr>
                                        <td>StrikeOuts</td>
                                        <td>2</td>
                                        <td>0</td>
                                    </tr>
                                </tbody>
                            </table>
                        
                    
                        <hr />
                   
                        <h4><b style="font-family:'Dosis-Medium';color:seagreen">Career Statistics</b></h4>
                        <table class="table">
                            <thead class="display">
                                <tr>
                                    <th>Year</th>
                                    <th>AVG</th>
                                    <th>GP</th>
                                    <th>GS</th>
                                    <th>AB</th>
                                    <th>R</th>
                                    <th>H</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>2013-2014</td>
                                    <td>.315</td>
                                    <td>31</td>
                                    <td>29</td>
                                    <td>108</td>
                                    <td>18</td>
                                    <td>34</td>
                                </tr>
                                <tr>
                                    
                                    <td>2014-2015</td>
                                    <td>.220</td>
                                    <td>31</td>
                                    <td>29</td>
                                    <td>108</td>
                                    <td>18</td>
                                    <td>34</td>
                                </tr>

                            </tbody>
                        </table>
                        <hr />
                    
                       

                        <h4><b style="font-family:'Dosis-Medium';color:seagreen">Bearcat Videos</b></h4>

                        <iframe width="185" height="150" src="https://www.youtube.com/embed/O-M0nJAO6qg?list=PLWvn8mjJlKMxr1OSOwoKJnfRbyFmulYet" frameborder="0" allowfullscreen></iframe>
                    <iframe width="185" height="150" src="https://www.youtube.com/embed/K9RND7LFlLI" frameborder="0" allowfullscreen></iframe>
                    <iframe width="185" height="150" src="https://www.youtube.com/embed/UgK6CpLP_zE" frameborder="0" allowfullscreen></iframe>

                        <div id="myProgress">
                            <div id="myBar"></div>
                        </div>

                        <br>
                        <button onclick="move()" style="font-family:'Dosis-Medium';color:seagreen">Fans Rating</button>

                        <script>
                            function move() {
                                var elem = document.getElementById("myBar");
                                var width = 1;
                                var id = setInterval(frame, 10);
                                function frame() {
                                    if (width >= 100) {
                                        clearInterval(id);
                                    } else {

                                        elem.style.width = 70 + '%';
                                    }
                                }
                            }
                        </script>

                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <!--Erica Modal-->>
    <div class="modal fade" id="Gotta" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Gotta</h4>
                </div>
                <div class="modal-body">
                    <img class="img-responsive center-block" src="~/lib/bootstrap/dist/images/Handzlik.jpg" alt="">
                    <div style="margin-top:3px; font-family:'Times New Roman', Times, serif;font-size:14px">
                        <b style="font-family:'Dosis-Medium';color:seagreen">Description: </b> Appeared in nine games with four at bats ... Had two hits, including a double, and scored three runs ... Was perfect in relief behind the plate with seven put outs
                        <ul>
                            <li style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:small;font-weight:bold">Class: Junior</li>
                            <li style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:small;font-weight:bold">Height: 5 ft 6 inch</li>
                            <li style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:small;font-weight:bold">Position: Infield</li>
                        </ul>
                    </div>
                    <hr />
                    <h4><b style="font-family:'Dosis-Medium';color:seagreen">Player Profile</b></h4>


                    <table class="table">
                        <thead class="display">
                            <tr>
                                <th>STATISTICS CATEGORY</th>
                                <th>OVERALL</th>
                                <th>CONF</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Games</td>
                                <td>6</td>
                                <td>4</td>
                            </tr>
                            <tr>
                                <td>At Bats</td>
                                <td>3</td>
                                <td>4</td>
                            </tr>
                            <tr>
                                <td>Runs</td>
                                <td>78</td>
                                <td>21</td>
                            </tr>

                            <tr>
                                <td>Hits</td>
                                <td>34</td>
                                <td>23</td>
                            </tr>
                            <tr>
                                <td>StrikeOuts</td>
                                <td>2</td>
                                <td>0</td>
                            </tr>
                        </tbody>
                    </table>


                    <hr />

                    <h4><b style="font-family:'Dosis-Medium';color:seagreen">Career Statistics</b></h4>
                    <table class="table">
                        <thead class="display">
                            <tr>
                                <th>Year</th>
                                <th>AVG</th>
                                <th>GP</th>
                                <th>GS</th>
                                <th>AB</th>
                                <th>R</th>
                                <th>H</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>2013-2014</td>
                                <td>.315</td>
                                <td>31</td>
                                <td>29</td>
                                <td>108</td>
                                <td>18</td>
                                <td>34</td>
                            </tr>
                            <tr>

                                <td>2014-2015</td>
                                <td>.220</td>
                                <td>31</td>
                                <td>29</td>
                                <td>108</td>
                                <td>18</td>
                                <td>34</td>
                            </tr>
                            <hr />




                        </tbody>
                    </table>
                    <hr />



                    <h4><b style="font-family:'Dosis-Medium';color:seagreen">Bearcat Videos</b></h4>

                    <h4><b style="font-family:'Dosis-Medium';color:lightcoral">Videos</b></h4>
                    <iframe width="185" height="150" src="https://www.youtube.com/embed/HCb2pFi_scw" frameborder="0" allowfullscreen></iframe>
                    <iframe width="185" height="150" src="https://www.youtube.com/embed/qNrTMqUvANE" frameborder="0" allowfullscreen></iframe>
                    <iframe width="185" height="150" src="https://www.youtube.com/embed/0z_I5K3hXjk" frameborder="0" allowfullscreen></iframe>

                    <h4><b style="font-family:'Dosis-Medium';color:seagreen">Bearcat Videos</b></h4>

                    <iframe width="185" height="150" src="https://www.youtube.com/embed/O-M0nJAO6qg?list=PLWvn8mjJlKMxr1OSOwoKJnfRbyFmulYet" frameborder="0" allowfullscreen></iframe>
                    <iframe width="185" height="150" src="https://www.youtube.com/embed/K9RND7LFlLI" frameborder="0" allowfullscreen></iframe>
                    <iframe width="185" height="150" src="https://www.youtube.com/embed/UgK6CpLP_zE" frameborder="0" allowfullscreen></iframe>

                    <div id="myProgress">
                        <div id="myBar"></div>
                    </div>

                    <br>
                    <button onclick="move()" style="font-family:'Dosis-Medium';color:seagreen">Fans Rating</button>

                    <script>
function move() {
  var elem = document.getElementById("myBar");
  var width = 1;
  var id = setInterval(frame, 10);
  function frame() {
    if (width >= 100) {
      clearInterval(id);
    } else {

      elem.style.width = 70 + '%';
    }
  }
}
                    </script>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <!--Kalyan Modal-->>
    <div class="modal fade" id="Greenslade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Kalyan</h4>
                </div>
                <div class="modal-body">
                    <img class="img-responsive center-block" src="~/lib/bootstrap/dist/images/Greenslade.jpg" alt="">
                    <div style="margin-top:3px; font-family:'Times New Roman', Times, serif;font-size:14px">
                        <b style="font-family:'Dosis-Medium';color:seagreen">Description: </b> Appeared in nine games with four at bats ... Had two hits, including a double, and scored three runs ... Was perfect in relief behind the plate with seven put outs
                        <ul>
                            <li style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:small;font-weight:bold">Class: Junior</li>
                            <li style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:small;font-weight:bold">Height: 5 ft 6 inch</li>
                            <li style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:small;font-weight:bold">Position: Infield</li>
                        </ul>
                    </div>
                    <hr />
                    <h4><b style="font-family:'Dosis-Medium';color:seagreen">Player Profile</b></h4>


                    <table class="table">
                        <thead class="display">
                            <tr>
                                <th>STATISTICS CATEGORY</th>
                                <th>OVERALL</th>
                                <th>CONF</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Games</td>
                                <td>6</td>
                                <td>4</td>
                            </tr>
                            <tr>
                                <td>At Bats</td>
                                <td>3</td>
                                <td>4</td>
                            </tr>
                            <tr>
                                <td>Runs</td>
                                <td>78</td>
                                <td>21</td>
                            </tr>

                            <tr>
                                <td>Hits</td>
                                <td>34</td>
                                <td>23</td>
                            </tr>
                            <tr>
                                <td>StrikeOuts</td>
                                <td>2</td>
                                <td>0</td>
                            </tr>
                        </tbody>
                    </table>


                    <hr />

                    <h4><b style="font-family:'Dosis-Medium';color:seagreen">Career Statistics</b></h4>
                    <table class="table">
                        <thead class="display">
                            <tr>
                                <th>Year</th>
                                <th>AVG</th>
                                <th>GP</th>
                                <th>GS</th>
                                <th>AB</th>
                                <th>R</th>
                                <th>H</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>2013-2014</td>
                                <td>.315</td>
                                <td>31</td>
                                <td>29</td>
                                <td>108</td>
                                <td>18</td>
                                <td>34</td>
                            </tr>
                            <tr>

                                <td>2014-2015</td>
                                <td>.220</td>
                                <td>31</td>
                                <td>29</td>
                                <td>108</td>
                                <td>18</td>
                                <td>34</td>
                            </tr>

                        </tbody>
                    </table>
                            <hr />



                    <h4><b style="font-family:'Dosis-Medium';color:seagreen">Bearcat Videos</b></h4>

                    <iframe width="185" height="150" src="https://www.youtube.com/embed/O-M0nJAO6qg?list=PLWvn8mjJlKMxr1OSOwoKJnfRbyFmulYet" frameborder="0" allowfullscreen></iframe>
                    <iframe width="185" height="150" src="https://www.youtube.com/embed/K9RND7LFlLI" frameborder="0" allowfullscreen></iframe>
                    <iframe width="185" height="150" src="https://www.youtube.com/embed/UgK6CpLP_zE" frameborder="0" allowfullscreen></iframe>

                    <div id="myProgress">
                        <div id="myBar"></div>
                    </div>

                    <br>
                    <button onclick="move()" style="font-family:'Dosis-Medium';color:seagreen">Fans Rating</button>

                    <script>
function move() {
  var elem = document.getElementById("myBar");
  var width = 1;
  var id = setInterval(frame, 10);
  function frame() {
    if (width >= 100) {
      clearInterval(id);
    } else {

      elem.style.width = 70 + '%';
    }
  }
}
                    </script>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>


    <!--Karthik Modal-->>
    <div class="modal fade" id="Handzlik" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Handzlik</h4>
                </div>
                <div class="modal-body">
                    <img class="img-responsive center-block" src="~/lib/bootstrap/dist/images/Handzlik.jpg" alt="">
                    <div style="margin-top:3px; font-family:'Times New Roman', Times, serif;font-size:14px">
                        <b style="font-family:'Dosis-Medium';color:seagreen">Description: </b> Appeared in nine games with four at bats ... Had two hits, including a double, and scored three runs ... Was perfect in relief behind the plate with seven put outs
                        <ul>
                            <li style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:small;font-weight:bold">Class: Junior</li>
                            <li style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:small;font-weight:bold">Height: 5 ft 6 inch</li>
                            <li style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:small;font-weight:bold">Position: Infield</li>
                        </ul>
                    </div>
                    <hr />
                    <h4><b style="font-family:'Dosis-Medium';color:seagreen">Player Profile</b></h4>


                    <table class="table">
                        <thead class="display">
                            <tr>
                                <th>STATISTICS CATEGORY</th>
                                <th>OVERALL</th>
                                <th>CONF</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Games</td>
                                <td>6</td>
                                <td>4</td>
                            </tr>
                            <tr>
                                <td>At Bats</td>
                                <td>3</td>
                                <td>4</td>
                            </tr>
                            <tr>
                                <td>Runs</td>
                                <td>78</td>
                                <td>21</td>
                            </tr>

                            <tr>
                                <td>Hits</td>
                                <td>34</td>
                                <td>23</td>
                            </tr>
                            <tr>
                                <td>StrikeOuts</td>
                                <td>2</td>
                                <td>0</td>
                            </tr>
                        </tbody>
                    </table>


                    <hr />

                    <h4><b style="font-family:'Dosis-Medium';color:seagreen">Career Statistics</b></h4>
                    <table class="table">
                        <thead class="display">
                            <tr>
                                <th>Year</th>
                                <th>AVG</th>
                                <th>GP</th>
                                <th>GS</th>
                                <th>AB</th>
                                <th>R</th>
                                <th>H</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>2013-2014</td>
                                <td>.315</td>
                                <td>31</td>
                                <td>29</td>
                                <td>108</td>
                                <td>18</td>
                                <td>34</td>
                            </tr>
                            <tr>

                                <td>2014-2015</td>
                                <td>.220</td>
                                <td>31</td>
                                <td>29</td>
                                <td>108</td>
                                <td>18</td>
                                <td>34</td>
                            </tr>

                        </tbody>
                    </table>
                            <hr />



                    <h4><b style="font-family:'Dosis-Medium';color:seagreen">Bearcat Videos</b></h4>

                    <iframe width="185" height="150" src="https://www.youtube.com/embed/O-M0nJAO6qg?list=PLWvn8mjJlKMxr1OSOwoKJnfRbyFmulYet" frameborder="0" allowfullscreen></iframe>
                    <iframe width="185" height="150" src="https://www.youtube.com/embed/K9RND7LFlLI" frameborder="0" allowfullscreen></iframe>
                    <iframe width="185" height="150" src="https://www.youtube.com/embed/UgK6CpLP_zE" frameborder="0" allowfullscreen></iframe>

                    <div id="myProgress">
                        <div id="myBar"></div>
                    </div>

                    <br>
                    <button onclick="move()" style="font-family:'Dosis-Medium';color:seagreen">Fans Rating</button>

                    <script>
function move() {
  var elem = document.getElementById("myBar");
  var width = 1;
  var id = setInterval(frame, 10);
  function frame() {
    if (width >= 100) {
      clearInterval(id);
    } else {

      elem.style.width = 70 + '%';
    }
  }
}
                    </script>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

</body>
</html>
