﻿<div class="container">
    <h3 class="text-center">Contact Us</h3>
    <p class="text-center"><em>We love to hear you!</em></p>
    <div class="row test">
        <div class="col-md-4">
            <p>Northwest Baseball </p>
            <p><span class="glyphicon glyphicon-map-marker"></span>Maryville, Missouri, US</p>
            <p><span class="glyphicon glyphicon-phone"></span>Phone: +1 6605280406</p>
            <p><span class="glyphicon glyphicon-envelope"></span>Email: helpdesk@nwmail.com</p>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-sm-6 form-group">
                    <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
                </div>
                <div class="col-sm-6 form-group">
                    <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                </div>
            </div>
            <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
            <div class="row">
                <div class="col-md-12 form-group">
                    <!--<h1 class="text-center"><a href="#myModal" role="button" class="btn btn-primary btn-lg" data-toggle="modal">Contact Us</a></h1>-->

                    <button type="submit" class="btn btn-default" onClick="func()">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    #googleMap {
        width: 100%; /* Span the entire width of the screen */
        height: 400px; /* Set the height to 400 pixels */
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%); /* Change the color of the map to black and white * /
    }
</style>

<div id="googleMap"></div>

<!-- Add Google Maps -->
<script src="http://maps.googleapis.com/maps/api/js"></script>
<script>
    var myCenter = new google.maps.LatLng(40.3461, -94.8725);

function initialize() {
var mapProp = {
center:myCenter,
zoom:12,
scrollwheel:false,
draggable:false,
mapTypeId:google.maps.MapTypeId.ROADMAP
};

var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);

var marker = new google.maps.Marker({
position:myCenter,
});

marker.setMap(map);
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">We'll reach you as soon as possible</h3>
            </div>
            <div class="modal-body">
                <p>Thanks for Contacting us</p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
            </div>
        </div>
    </div>
</div>