﻿<h1 style="text-align:center">Bearcats Overall Winning</h1>
<link href="~/js/nv.d3.css" rel="stylesheet" type="text/css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.2/d3.min.js" charset="utf-8"></script>
<script src="~/js/nv.d3.js"></script>
<!--<script src="lib/stream_layers.js"></script>-->
<style>
    svg {
        display: block;
        height: 350px !important;
        width: 350px !important;
    }
</style>
<div style="float:left"></div>

<body class='with-3d-shadow with-transitions' style="align-content:center">

    <svg id="test1" class="mypiechart"></svg>
    <script>


        /// <var>The testdata2</var>
        var testdata2 = [
            { key: "UMKC", y: 5 },
            { key: "UNM", y: 2 },
            { key: "SUNYPOLY", y: 5 },
            { key: "MSU", y: 6 },
            { key: "CSU", y: 4 },
            { key: "NYC", y: 3 },
            { key: "NWMSU", y: 7 }
        ];

        /// <var>The height</var>
        var height = 350;
        /// <var>The width</var>
        var width = 350;

        nv.addGraph(function () {
            /// <summary>
            ///
            /// </summary>
            var chart = nv.models.pieChart()
                /// <summary>
                ///
                /// </summary>
                /// <param name="d">The d.</param>
                .x(function (d) { return d.key })
                /// <summary>
                ///
                /// </summary>
                /// <param name="d">The d.</param>
                .y(function (d) { return d.y })
                .width(width)
                .height(height)
                .showTooltipPercent(true);

            d3.select("#test1")
                .datum(testdata2)
                .transition().duration(1200)
                .attr('width', width)
                .attr('height', height)
                .call(chart);

            return chart;
        });
    </script>

</body>

