﻿
<h2>Frequently Asked Questions</h2>
<div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    This section contains a wealth of information, related to <strong>Northwest Baseball</strong>. If you cannot find an answer to your question,
    make sure to contact us.
</div>

<br />

<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">what is a Baseball?</a>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
                Baseball is a bat-and-ball game played between two teams of nine players each, who take turns batting and fielding.

            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">what is a strikeout?</a>
            </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">
                The strikeout is recorded against a batter who makes three strikes before putting the ball into play or being awarded a free advance to first base.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">What is a flyout?</a>
            </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body">
                The flyout is recorded against a batter who hits a ball in the air that is caught by a fielder, whether in fair territory or foul territory, before it lands, whether or not the batter has run.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">What is ground out?</a>
            </h4>
        </div>
        <div id="collapse4" class="panel-collapse collapse">
            <div class="panel-body">
                The ground is recorded against a batter (in this case, batter-runner) who hits a ball that lands in fair territory which, before the batter-runner can reach first base, is retrieved by a fielder who touches first base while holding the ball or relays it to another fielder who touches first base while holding the ball.
            </div>
        </div>
    </div>

</div>
