﻿<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Creative One Page Parallax Template">
    <meta name="keywords" content="Creative, Onepage, Parallax, HTML5, Bootstrap, Popular, custom, personal, portfolio" />
    <meta name="author" content="">

    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet">
    <link href="~/css/main.css" rel="stylesheet">
    <link href="~/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]> <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script> <![endif]-->
    <link rel="shortcut icon" href="~/images/ico/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/images/ico/apple-touch-icon-57-precomposed.png">

    <script type="text/javascript" src="~/js/jquery.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/smoothscroll.js"></script>
    <script type="text/javascript" src="~/js/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="~/js/jquery.parallax.js"></script>
    <script type="text/javascript" src="~/js/main.js"></script>
</head>
<div class="row">
    <section id="portfolio">
        <div class="container">
            <div class="row text-center">
                <div class="col-sm-8 col-sm-offset-2">
                    <h2 class="title-one">Gallery</h2>
                    <p>Gallery of all images</p>
                </div>
            </div>
            <ul class="portfolio-filter text-center">
                <li><a class="btn btn-default active" href="#" data-filter="*">All</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".html">Season 01</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".wordpress">Season 02</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".joomla">Season 03</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".megento">Season 04</a></li>
            </ul><!--/#portfolio-filter-->
            <div class="portfolio-items">
                <div class="col-sm-3 col-xs-12 portfolio-item html">
                    <div class="view efffect">
                        <div class="portfolio-image">
                            <img class="img-responsive" src="~/images/c.jpg" alt="">
                        </div>
                        <div class="mask text-center">
                            <h3>Season 1</h3>
                            <h4>Season 01 Highlights</h4>
                            <a href="#"><i class="fa fa-link"></i></a>
                            <a href="~/images/galaxies/g10.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12 portfolio-item jooma">
                    <div class="view efffect">
                        <div class="portfolio-image">
                            <img class="img-responsive" src="~/images/c.jpg" alt="">
                        </div>
                        <div class="mask text-center">
                            <h3>Season 2</h3>
                            <h4>Season 02 Highlights</h4>
                            <a href="#"><i class="fa fa-link"></i></a>
                            <a href="~/images/galaxies/g10.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12 portfolio-item wordpress">
                    <div class="view efffect">
                        <div class="portfolio-image">
                            <img class="img-responsive" src="~/images/c.jpg" alt="">
                        </div>
                        <div class="mask text-center">
                            <h3>Season 1</h3>
                            <h4>Season 01 Highlights</h4>
                            <a href="#"><i class="fa fa-link"></i></a>
                            <a href="~/images/galaxies/g1.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12 portfolio-item megento">
                    <div class="view efffect">
                        <div class="portfolio-image">
                            <img class="img-responsive" src="~/images/c.jpg" alt="">
                        </div>
                        <div class="mask text-center">
                            <h3>Season 3</h3>
                            <h4>Season 03 Highlights</h4>
                            <a href="#"><i class="fa fa-link"></i></a>
                            <a href="~/images/galaxies/g3.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12 portfolio-item html">
                    <div class="view efffect">
                        <div class="portfolio-image">
                            <img class="img-responsive" src="~/images/c.jpg" alt="">
                        </div> <div class="mask text-center">
                            <h3>Season 2</h3>
                            <h4>Season 02 Highlights</h4>
                            <a href="#"><i class="fa fa-link"></i></a>
                            <a href="~/images/galaxies/g10.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12 portfolio-item wordpress">
                    <div class="view efffect">
                        <div class="portfolio-image">
                            <img class="img-responsive" src="~/images/c.jpg" alt="">
                        </div>
                        <div class="mask text-center">
                            <h3>Season 1</h3>
                            <h4>Season 01 Highlights</h4>
                            <a href="#"><i class="fa fa-link"></i></a>
                            <a href="~/images/galaxies/g1.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12 portfolio-item html">
                    <div class="view efffect">
                        <div class="portfolio-image">
                            <img class="img-responsive" src="~/images/c.jpg" alt="">
                        </div>
                        <div class="mask text-center">
                            <h3>Season 3</h3>
                            <h4>Season 03 Highlights</h4>
                            <a href="#"><i class="fa fa-link"></i></a>
                            <a href="~/images/galaxies/g3.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12 portfolio-item joomla">
                    <div class="view efffect">
                        <div class="portfolio-image">
                            <img class="img-responsive" src="~/images/c.jpg" alt="">
                        </div>
                        <div class="mask text-center">
                            <h3>Season 2</h3>
                            <h4>Season 02 Highlights</h4>
                            <a href="#"><i class="fa fa-link"></i></a>
                            <a href="~/images/galaxies/g10.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12 portfolio-item html">
                    <div class="view efffect">
                        <div class="portfolio-image">
                            <img class="img-responsive" src="~/images/c.jpg" alt="">
                        </div>
                        <div class="mask text-center">
                            <h3>Season1</h3>
                            <h4>Season 01 Highlights</h4>
                            <a href="#"><i class="fa fa-link"></i></a>
                            <a href="~/images/galaxies/g1.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12 portfolio-item wordpress">
                    <div class="view efffect">
                        <div class="portfolio-image">
                            <img class="img-responsive" src="~/images/c.jpg" alt="">
                        </div>
                        <div class="mask text-center">
                            <h3>Season3</h3>
                            <h4>Season 03 Highlights</h4>
                            <a href="#"><i class="fa fa-link"></i></a>
                            <a href="~/images/galaxies/g3.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12 portfolio-item joomla">
                    <div class="view efffect">
                        <div class="portfolio-image">
                            <img class="img-responsive" src="~/images/c.jpg" alt="">
                        </div>
                        <div class="mask text-center">
                            <h3>Season2</h3>
                            <h4>Season 02 Highlights</h4>
                            <a href="#"><i class="fa fa-link"></i></a>
                            <a href="~/images/galaxies/g10.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12 portfolio-item megento">
                    <div class="view efffect">
                        <div class="portfolio-image">
                            <img class="img-responsive" src="~/images/c.jpg" alt="">
                        </div>
                        <div class="mask text-center">
                            <h3>Season1</h3>
                            <h4>Season 01 Highlights</h4>
                            <a href="#"><i class="fa fa-link"></i></a>
                            <a href="~/images/galaxies/g1.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section> <!--/#portfolio-->
</div>
