﻿<h1 style="text-align:center"> Winning Prediction</h1>
<link href="~/js/nv.d3.css" rel="stylesheet" type="text/css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.2/d3.min.js" charset="utf-8"></script>
<script src="~/js/nv.d3.js"></script>
<!--<script src="lib/stream_layers.js"></script>-->
<style>
    svg {
        display: block;
        height: 350px !important;
        width: 350px !important;
    }
</style>
<div style="float:left;margin-left:20px">
</div>
<div style="float:left">



    <table border="1">
        <caption style="text-align:center">Select colleges with respect to their wins</caption>
        <tr>
            <th>College</th>
            <th>Wins</th>
        </tr>
        <tr>
            <td>
                <select id="types">
                    <option id="none" value="none">Choose a type</option>
                    <option id="NWMSU" value="NWMSU">NWMSU</option>
                    <option id="UMKC" value="UMCK">UMKC</option>
                    <option id="MSU" value="MSU">MSU</option>
                    <option id="CSU" value="CSU">CSU</option>
                    <option id="NYC" value="NYC">NYC</option>
                    <option id="UCM" value="UCM">UCM</option>
                    <option id="UNM" value="UNM">UNM</option>
                </select>
            </td>
            <td>
                <input type="number" min="0" id="val"></input>
            </td>
        </tr>
        <tr>
            <td>
                <select id="types1">
                    <option id="none" value="none">Choose a type</option>
                    <option id="UMKC" value="UMCK">UMKC</option>
                    <option id="MSU" value="MSU">MSU</option>
                    <option id="CSU" value="CSU">CSU</option>
                    <option id="NWMSU" value="NWMSU">NWMSU</option>
                    <option id="NYC" value="NYC">NYC</option>
                    <option id="UCM" value="UCM">UCM</option>
                    <option id="UNM" value="UNM">UNM</option>
                </select>
            </td>
            <td>
                <input type="number" min="0" id="val1"></input>
            </td>
        </tr>
        <tr>
            <td>
                <select id="types2">
                    <option id="none" value="none">Choose a type</option>
                    <option id="UMKC" value="UMCK">UMKC</option>
                    <option id="MSU" value="MSU">MSU</option>
                    <option id="NWMSU" value="NWMSU">NWMSU</option>
                    <option id="CSU" value="CSU">CSU</option>
                    <option id="NYC" value="NYC">NYC</option>
                    <option id="UCM" value="UCM">UCM</option>
                    <option id="UNM" value="UNM">UNM</option>
                </select>
            </td>
            <td>
                <input type="number" min="0" id="val2"></input>
            </td>
        </tr>
        <tr>
            <td>
                <select id="types3">
                    <option id="none" value="none">Choose a type</option>
                    <option id="UMKC" value="UMCK">UMKC</option>
                    <option id="MSU" value="MSU">MSU</option>
                    <option id="CSU" value="CSU">CSU</option>
                    <option id="NYC" value="NYC">NYC</option>
                    <option id="UCM" value="UCM">UCM</option>
                    <option id="NWMSU" value="NWMSU">NWMSU</option>
                    <option id="UNM" value="UNM">UNM</option>
                </select>
            </td>
            <td>
                <input type="number" min="0" id="val3"></input>
            </td>
        </tr>
        <tr>
            <td>
                <select id="types4">
                    <option id="none" value="none">Choose a type</option>
                    <option id="UMKC" value="UMCK">UMKC</option>
                    <option id="MSU" value="MSU">MSU</option>
                    <option id="CSU" value="CSU">CSU</option>
                    <option id="NYC" value="NYC">NYC</option>
                    <option id="UCM" value="UCM">UCM</option>
                    <option id="NWMSU" value="NWMSU">NWMSU</option>
                    <option id="UNM" value="UNM">UNM</option>
                </select>
            </td>
            <td>
                <input type="number" min="0" id="val4"></input>
            </td>
        </tr>
    </table>
    <br>
    <input type="submit" value="Generate" id="submit" onclick="f()"></input>


</div>
<body class='with-3d-shadow with-transitions' style="align-content:center">
    <br>
    <svg id="test1" class="mypiechart"></svg>
    <script>

            function f() {
                var testdata2 = [
                    { key: document.getElementById("types").value, y: document.getElementById("val").value },
                     { key: document.getElementById("types1").value, y: document.getElementById("val1").value },
                    { key: document.getElementById("types2").value, y: document.getElementById("val2").value },
                   { key: document.getElementById("types3").value, y: document.getElementById("val3").value },

                    { key: document.getElementById("types4").value, y: document.getElementById("val4").value }
                ];

                var height = 350;
                var width = 350;

                nv.addGraph(function () {
                    var chart = nv.models.pieChart()
                        .x(function (d) { return d.key })
                        .y(function (d) { return d.y })
                        .width(width)
                        .height(height)
                        .showTooltipPercent(true);

                    d3.select("#test1")
                        .datum(testdata2)
                        .transition().duration(1200)
                        .attr('width', width)
                        .attr('height', height)
                        .call(chart);

                    return chart;
                });
            }
    </script>
</body>