﻿<html>
<head>
    <!-- Plotly JS -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- Treemap Squared -->
    <script src="https://cdn.rawgit.com/imranghory/treemap-squared/master/min/treemap-squared-0.5.min.js"></script>
</head>
<body>
    <!-- Plotly chart will be drawn inside this DIV -->
    <div id="myDiv" style="height:400px; width:400px"></div>

    <script>
        
        var data = [
          {
              x: [43.6797752809, 43.6797752809, 93.6797752809, 93.6797752809, 93.6797752809, 93.6797752809], 
              y: [26.79528403, 76.79528403, 28.8888888889, 67.037037037, 85.5555555556, 97.4074074074], 
              mode: "text", 
              name: "y", 
              text: ["500", "433", "78", "25", "25", "7"], 
              textsrc: "tarzzz:616:bafb6b", 
              type: "scatter", 
              xsrc: "tarzzz:616:512d04", 
              ysrc: "tarzzz:616:da6e5c"
          }
        ];
        var layout = {
            annotations: [
              {
                  x: 43.6797752809, 
                  y: 26.79528403, 
                  showarrow: false, 
                  text: 500
              }, 
              {
                  x: 43.6797752809, 
                  y: 76.79528403, 
                  showarrow: false, 
                  text: 433
              }, 
              {
                  x: 93.6797752809, 
                  y: 28.8888888889, 
                  showarrow: false, 
                  text: 78
              }, 
              {
                  x: 93.6797752809, 
                  y: 67.037037037, 
                  showarrow: false, 
                  text: 25
              }, 
              {
                  x: 93.6797752809, 
                  y: 85.5555555556, 
                  showarrow: false, 
                  text: 25
              }, 
              {
                  x: 93.6797752809, 
                  y: 97.4074074074, 
                  showarrow: false, 
                  text: 7
              }
            ], 
            height: 400, 
            hovermode: "closest", 
            shapes: [
              {
                  fillcolor: "rgb(166,206,227)", 
                  line: {width: 2}, 
                  type: "rect", 
                  x0: 0.0, 
                  x1: 87.3595505618, 
                  y0: 0.0, 
                  y1: 53.59056806
              }, 
              {
                  fillcolor: "rgb(31,120,180)", 
                  line: {width: 2}, 
                  type: "rect", 
                  x0: 0.0, 
                  x1: 87.3595505618, 
                  y0: 53.59056806, 
                  y1: 100.0
              }, 
              {
                  fillcolor: "rgb(178,223,138)", 
                  line: {width: 2}, 
                  type: "rect", 
                  x0: 87.3595505618, 
                  x1: 100.0, 
                  y0: 0.0, 
                  y1: 57.7777777778
              }, 
              {
                  fillcolor: "rgb(51,160,44)", 
                  line: {width: 2}, 
                  type: "rect", 
                  x0: 87.3595505618, 
                  x1: 100.0, 
                  y0: 57.7777777778, 
                  y1: 76.2962962963
              }, 
              {
                  fillcolor: "rgb(251,154,153)", 
                  line: {width: 2}, 
                  type: "rect", 
                  x0: 87.3595505618, 
                  x1: 100.0, 
                  y0: 76.2962962963, 
                  y1: 94.8148148148
              }, 
              {
                  fillcolor: "rgb(227,26,28)", 
                  line: {width: 2}, 
                  type: "rect", 
                  x0: 87.3595505618, 
                  x1: 100.0, 
                  y0: 94.8148148148, 
                  y1: 100.0
              }
            ], 
            width: 400, 
            xaxis: {
                showgrid: false, 
                zeroline: false
            }, 
            yaxis: {
                showgrid: false, 
                zeroline: false
            }
        };
        var graphOptions = {layout: layout};
        Plotly.newPlot('myDiv', data, layout);
    </script>
</body>
</html>