﻿<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="3000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
       
    </ol>
    <div class="carousel-inner" role="listbox" style="align-content:center">
        <div class="item active">
            <img src="~/images/home_b.jpg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption">
                <p style="font-size:70px;color:white">
                  
                    <a style="font-size:70px;color:white" asp-controller="Home" asp-action="Performance">
                        Visualize Players Performance.
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/home_a.jpg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption">
                <p style="font-size:70px;color:white">
                    
                    <a style="font-size:70px;color:white" asp-controller="GamePitchings" asp-action="Games">
                        Most awaited 2015 results.
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/home_c.jpg" alt="Package Management" class="img-responsive" />
            <div class="carousel-caption">
                <p style="font-size:70px;color:white">
                   
                    <a style="font-size:70px;color:white" asp-controller="Roasters" asp-action="Index">
                        Northwest Baseball Top Players List.
                    </a>
                </p>
            </div>
        </div>
       
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    </div>
    
 
   
           <div style="width:auto">
            <a href="http://www.accuweather.com/en/us/maryville-mo/64468/weather-forecast/334097" class="aw-widget-legal">

            </a>
                   <div id="awcc1459374354705" class="aw-widget-current" data-locationkey="334097" data-unit="f" data-language="en-us" data-useip="false" data-uid="awcc1459374354705"></div>
            
            <script type="text/javascript" src="http://oap.accuweather.com/launch.js"></script>
            
        </div>
 