﻿<head>
    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>

    <div id="myDiv"><!-- Plotly chart will be drawn inside this DIV --></div>
    <script type="text/javascript">
        var batting = {
            x: ['2010', '2011', '2012', '2013', '2014', '2015'],
            y: [5, 3, 13, 2, 11, 1],
            name: 'Missouri Western',
            type: 'bar',


        };

        var pitching = {
            x: ['2010', '2011', '2012', '2013', '2014', '2015'],
            y: [15, 2, 3, 4, 7, 3],
            name: 'NWMSU',
            type: 'bar',

        };

        var data = [batting, pitching];

        var layout = {
            barmode: 'group',
            title: 'NWMSU runs vs Missouri Western runs'

        };

        Plotly.newPlot('myDiv', data, layout);
        function display(s1) {

            var s1 = document.getElementById(s1);

            if (s1.value == "1") {
                var batting = {
                    x: ['2010', '2011', '2012', '2013', '2014', '2015'],
                    y: [5, 3, 13,2,11,1],
                    name: 'Missouri Western',
                    type: 'bar',

                };

                var pitching = {
                    x: ['2010', '2011', '2012', '2013', '2014', '2015'],
                    y: [15, 2, 3, 4, 7, 3],
                    name: 'NWMSU',
                    type: 'bar',

                };

                var data = [batting, pitching];

                var layout = {
                    barmode: 'group',
                    title: 'NWMSU runs Vs Missouri Western runs'
                };

                Plotly.newPlot('myDiv', data, layout);

            }
            else if (s1.value == "2") {
                var batting = {
                    x: ['2010', '2011', '2012', '2013', '2014', '2015'],
                    y: [6, 6, 5, 6, 3, 7],
                    name: 'Pitsburg State',
                    type: 'bar',

                };

                var pitching = {
                    x: ['2010', '2011', '2012', '2013', '2014', '2015'],
                    y: [1, 5, 11, 11, 4, 2],
                    name: 'NWMSU',
                    type: 'bar',

                };

                var data = [batting, pitching];

                var layout = {
                    barmode: 'group',
                    title: 'NWMSU runs Vs Pitsburg State runs'
                };

                Plotly.newPlot('myDiv', data, layout);

            }
            else {
                var batting = {
                    x: ['2010', '2011', '2012', '2013', '2014', '2015'],
                    y: [1, 5, 11, 11, 4, 2],
                    name: 'Emporia state',
                    type: 'bar',

                };

                var pitching = {
                    x: ['2010', '2011', '2012', '2013', '2014', '2015'],
                    y: [6, 6, 5, 6, 3, 7],
                    name: 'NWMSU',
                    type: 'bar',

                };

                var data = [batting, pitching];

                var layout = {
                    xaxis: {
                        dtick:1,
                        tickcolor: '##FF0000'

                    },
                    yaxis: {


                        tickcolor: '#FF0000'
                    },
                    barmode: 'group',
                    title: 'NWMSU runs Vs Emporia state runs'

                };

                Plotly.newPlot('myDiv', data, layout);


            }
        }

    </script>

    <select id="slct" name="slct" onchange="display(this.id)">
        <option value="1">Missouri Western</option>
        <option value="2">Pitsburg State</option>
        <option value="3">Emporia state</option>
    </select>
</body>