﻿
    <link href="~/js/nv.d3.css" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.2/d3.min.js" charset="utf-8"></script>
    <script src="~/js/nv.d3.js"></script>
    <style>
        text {
            font: 34px sans-serif;
        }

        svg {
            display: block;
        }
       
    </style>
<h1>Players Performance</h1>
<br>
<br>
<body>
    <div id="chart1">
        <svg></svg>
    </div>
    <script>

    historicalBarChart = [
        {
            key: "Notenvergabe",
            values: [
                {
                    "label" : "Bob" ,
                    "value" : 29
                } ,
                {
                    "label" : "Jhon" ,
                    "value" : 15
                } ,
                {
                    "label" : "Rob" ,
                    "value" : 32
                } ,
                {
                    "label" : "Henry" ,
                    "value" : 17
                } ,
                {
                    "label" : "Smith" ,
                    "value" : 21
                } ,
                {
                    "label" : "Ben" ,
                    "value" : 69
                } ,
                {
                    "label" : "Mike" ,
                    "value" : 31
                } ,
                {
                    "label" : "Brain" ,
                    "value" : 51
                }
            ]
        }
    ];

    nv.addGraph(function() {
        var chart = nv.models.discreteBarChart()
            .x(function(d) { return d.label })
            .y(function(d) { return d.value })
            .staggerLabels(true)
            //.staggerLabels(historicalBarChart[0].values.length > 8)
            .showValues(true)
            .duration(250)
            ;

        d3.select('#chart1 svg')
            .datum(historicalBarChart)
            .call(chart);

        nv.utils.windowResize(chart.update);
        return chart;
    });

    </script>
</body>
