﻿<head>
    <!--Plotly.js-->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div class="showcase__section" id="bubble">
        <div class="spacer --small"></div>
        <div id="bubbleplots">
            <div class="bubbleplot" data-num="0">
                <div class="plot" id="plotdiv"></div>
                <div class="control-row">
                    Season: <select class="countrydata"></select>
                </div>
            </div>
        </div>
    </div>


    <script>
        /* JAVASCRIPT CODE GOES HERE */



        Plotly.d3.csv("http://" + window.location.host + "/Data/sep.csv", function (err, rows) {

            function unpack(rows, key) {
                return rows.map(function(row) { return row[key]; });
            }

            var allCountryNames = unpack(rows, 'country'),
                allYear = unpack(rows, 'year'),
                allGdp = unpack(rows, 'gdpPercap'),
                listofCountries = [],
                currentCountry,
                currentGdp = [],
                currentYear = [];

            for (var i = 0; i < allCountryNames.length; i++ ){
                if (listofCountries.indexOf(allCountryNames[i]) === -1 ){
                    listofCountries.push(allCountryNames[i]);
                }
            }

            function getCountryData(chosenCountry) {
                currentGdp = [];
                currentYear = [];
                for (var i = 0 ; i < allCountryNames.length ; i++){
                    if ( allCountryNames[i] === chosenCountry ) {
                        currentGdp.push(allGdp[i]);
                        currentYear.push(allYear[i]);
                    }
                }
            };

            // Default Country Data
            setBubblePlot('2016');

            function setBubblePlot(chosenCountry) {
                getCountryData(chosenCountry);


                var data = [
  {
      x: currentYear,
      y: currentGdp,
      type: 'bar',
      width: 0.2,

  }];



                var layout = {
                    title: 'Earned runs average of Players in  <br>' + chosenCountry ,
                    xaxis: {
                    dtick: 1,
                    tickcolor: '##FF0000'
                },
            yaxis: {


                tickcolor: '#FF0000'
            }
                };

                Plotly.newPlot('plotdiv', data, layout);
            };

            var innerContainer = document.querySelector('[data-num="0"'),
                plotEl = innerContainer.querySelector('.plot'),
                countrySelector = innerContainer.querySelector('.countrydata');

            function assignOptions(textArray, selector) {
                for (var i = 0; i < textArray.length;  i++) {
                    var currentOption = document.createElement('option');
                    currentOption.text = textArray[i];
                    selector.appendChild(currentOption);
                }
            }

            assignOptions(listofCountries, countrySelector);

            function updateCountry(){
                setBubblePlot(countrySelector.value);
            }

            countrySelector.addEventListener('change', updateCountry, false);
        });
    </script>
</body>