﻿
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.2/d3.min.js" charset="utf-8"></script>
    <script src="~/js/nv.d3.js"></script>
    <script src="~/js/stream_layers.js"></script>
   
    <svg id="test3" class="mypiechart"></svg>
    <script>

        var testdata3 = [
        { key: "Updated", y: 50 },
        { key: "Pending", y: 50 }
    ];

        var arcRadius3 = [
		{ inner: 0, outer: 1 },
		{ inner: 0, outer: 0.8 }
	];

        var height = 350;
        var width = 350;

        nv.addGraph(function () {
            var chart = nv.models.pieChart()
            .x(function (d) { return d.key })
            .y(function (d) { return d.y })
            .donut(true)
			.showLabels(true)
            .width(width)
            .height(height)
			.arcsRadius(arcRadius3)
			.donutLabelsOutside(true)
            .id('donut3'); // allow custom CSS for this one svg

            d3.select("#test3")
            .datum(testdata3)
            .transition().duration(1200)
            .attr('width', width)
            .attr('height', height)
            .call(chart);

            return chart;

        });
    </script>


