﻿


    <title>Northwest Baseball</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/style.css" type="text/css" rel="stylesheet">

    <div class="heading">
        <h1>Baseball Game Rules</h1>
        <iframe width="1330" height="500" src="https://www.youtube.com/embed/0bKkGeROiPA" align="center" frameborder="0" allowfullscreen></iframe>
    </div>
    <p></p>
    <p></p>
   <!-- <div class="pics1">
        <img src="batsman.jpg" alt="Batsman" style="width:400px;height:300px;">
    </div>
    <p></p>
    <p></p>
    <div class="pics2">
        <img src="pitcher.jpg" alt="Pitcher" style="width:400px;height:300px;">
    </div>-->
    <div>
        <h2 style="font-size:25px">Know about Baseball</h2>
    </div>
    <div>
        <p style="font-size:18px">
            Baseball is played between two teams with nine players in the field
            on each team. On a baseball field, the game is under authority of
            several umpires.There are usually four umpires in major league games;
            up to six (and as few as one) may officiate depending on the league
            and the importance of the game.There are four bases.
        </p>
        <p style="font-size:18px">
            Numbered are for
            first, second and third bases are cushions (sometimes  called as bags)
            shaped 15in squares which are raised a short distance above the ground;
            together with home plate, the fourth "base",they form a square with sides
            of 90 ft (27.4 m)
            called the diamond. Home base (usually called home plate) is a pentagonal
            rubber slab 17 in (43.2 cm) wide. The playing field is divided into three
            main sections:
        </p>
        <ul>
            <li style="font-size:18px">
                The infield, containing the four bases, is for general defensive purposes
                bounded by the foul lines and within the grass line (see figure).
            </li>
            <li style="font-size:18px">
                The outfield is the grassed area beyond the infield grass line
                between the foul lines, and bounded by a wall or fence.
            </li>
            <li style="font-size:18px">Foul territory is the entire area outside the foul lines.</li>
        </ul>
        <p style="font-size:18px">
            The pitcher's mound is located in the center of the infield.
            It is an 18 ft (5.5 m) diameter mound of dirt no higher than 10
            in (25.4 cm). Near the center of the mound is the pitching rubber,
            a rubber slab positioned 60 ft 6 in (18.4 m) from home plate.
            The pitcher must have one foot on the rubber at the start of every
            pitch to a batter, but the pitcher may leave the mound area once the
            ball is released.
        </p>
        <p style="font-size:18px">
            A baserunner who has successfully touched home plate without being
            tagged out after touching all previous bases in order scores a run.
            In an enclosed field, a fair ball hit over the fence on the fly is
            normally an automatic home run, which entitles the batter and all
            runners to touch all the bases and score. On a field with foul poles,
            a ball that hits a pole is also a home run. A home run hit with all
            bases occupied ('bases loaded') is called a grand slam.
        </p>
    </div>


