﻿
<div>
    <div class="row">
        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    About Us
                </h1>
                <p>
                    Team Code Agents! is a team of passionate coders.We never tire of trying new things, learning new things and expanding what we know about technology.

                    We really want to actively work to improve our technical Knowledge. We love thoughts and respect each ideas shared by any one.
                </p>

            </div>
        </div>
        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Team</h2>

            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="~/images/abhi.jpg" alt="">
                <h3>
                    Abhinaya
                    <small>Client management</small>
                </h3>
                <p>User Interface Designer | Programmmer Analyst | Tester</p>
            </div>

            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="~/images/veeru.jpg" alt="">
                <h3>
                    Veeru
                    <small>Data management</small>
                </h3>
                <p>User Interface Designer | Programmmer Analyst | Tester</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="~/images/pradeep.jpg" alt="">
                <h3>
                    Pradeep
                    <small>Issues management</small>
                </h3>
                <p>User Interface Designer | Programmmer Analyst | Tester</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="~/images/priya.jpg" alt="">
                <h3>
                    Priyanka
                    <small>Requirements management</small>
                </h3>
                <p>User Interface Designer | Programmmer Analyst | Tester</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="~/images/lokesh.jpg" alt="">
                <h3>
                    Lokesh
                    <small>Quality and testing management</small>
                </h3>
                <p>User Interface Designer | Programmmer Analyst | Tester</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="~/images/trisha.jpg" alt="">
                <h3>
                    Trisha
                    <small>Communications and documentation management</small>
                </h3>
                <p>User Interface Designer | Programmmer Analyst | Tester</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="~/images/mani.jpg" alt="">
                <h3>
                    Manindra
                    <small>Primary Contact</small>
                </h3>
                <p>User Interface Designer | Programmmer Analyst | Tester</p>
            </div>
        </div>
    </div>

</div>