﻿
    <link href="~/js/nv.d3.css" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.2/d3.min.js" charset="utf-8"></script>
    <script src="~/js/nv.d3.js"></script>
    <style>
        text {
            font: 12px sans-serif;
        }

        svg {
            display: block;
        }

    </style>
<h1>Weather Conditions</h1>
<br>
<br>
<br>
<br>
<br>
<br>
<body class='with-3d-shadow with-transitions'>
    <svg id="test1"></svg>
    <script>

    var chart;
    nv.addGraph(function() {
        chart = nv.models.historicalBarChart();
        chart
            .margin({left: 100, bottom: 100})
            .useInteractiveGuideline(true)
            .duration(250)
            ;

        // chart sub-models (ie. xAxis, yAxis, etc) when accessed directly, return themselves, not the parent chart, so need to chain separately
        chart.xAxis
            .axisLabel("Day");
            

        chart.yAxis
            .axisLabel('Temperature')
            .tickFormat(d3.format(',.2f'));

        chart.showXAxis(true);

        d3.select('#test1')
            .datum(sinData())
            .transition()
            .call(chart);

        nv.utils.windowResize(chart.update);
        chart.dispatch.on('stateChange', function(e) { nv.log('New State:', JSON.stringify(e)); });
        return chart;
    });

    //Simple test data generators
    function sinAndCos() {
        var sin = [],
            cos = [];

        for (var i = 0; i < 100; i++) {
            sin.push({x: i, y: Math.sin(i/10)});
            cos.push({x: i, y: .5 * Math.cos(i/10)});
        }

        return [
            {values: sin, key: "S", color: "#ff7f0e"},
            {values: cos, key: "C", color: "#2ca02c"}
        ];
    }

    function sinData() {
        var sin = [];

        for (var i = 0; i < 100; i++) {
            sin.push({x: i, y: Math.sin(i/10) * Math.random() * 10});
        }

        return [{
            values: sin,
            key: "S",
            color: "#ff7f0e"
        }];
    }

    </script>
</body>
