/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 21, 2016, 2:12:00 AM
    Author     : s525055
*/
h1{
    text-align: center;
    color:green;
}
.content{
    font-family: serif;
    font-size: 20px;
    text-align: justify;
    position:absolute;
    right:50px;
    top:620px;
    left:450px;
}
.heading2{
    color:green;
    position:absolute;
    right:50px;
    top:580px;
    left:750px;
    text-decoration: underline;
}
/*.pics1{
    position:absolute;
    top:650px;
}*/

