﻿@using System.Security.Claims

@if (User.IsSignedIn())
{
    <ul class="nav navbar-nav navbar-left">
        <li class="dropdown">
            <a style="color:white" class="dropdown-toggle" data-toggle="dropdown" href="#">
                Exhibits
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">

                <li><a asp-controller="Home" asp-action="construction">Statistics</a></li>

                <li><a asp-controller="Home" asp-action="construction">Tournaments</a></li>
            </ul>
        </li>

        <li class="dropdown">
            <a style="color:white" class="dropdown-toggle" data-toggle="dropdown" href="#">
                Information Center
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a asp-controller="Home" asp-action="construction">Players</a></li>
                <li><a asp-controller="Home" asp-action="construction">Coach Details</a></li>
                <li><a asp-controller="Home" asp-action="construction">Game Rules</a></li>
                <li><a asp-controller="Home" asp-action="gallery">Gallery</a></li>

            </ul>
        </li>
        <li style="color:white"><a style="color:white" asp-controller="Home" asp-action="construction">Upload a Query</a></li>

    </ul>

    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-controller="Manage" asp-action="Index" title="Manage">Hello @User.GetUserName()!</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log off</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-left">
        <li><a style="color:white" asp-controller="Roasters" asp-action="Index">Roster</a></li>
         <li class="dropdown">
            <a style="color:white" class="dropdown-toggle" data-toggle="dropdown" href="#">
                Visualization
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">

                <li><a asp-controller="Home" asp-action="Performance">Players Performance</a></li>
                <li><a asp-controller="Home" asp-action="SeasonPlayerruns">Season-Playerruns</a></li>
                <li><a asp-controller="Home" asp-action="Playerruns">Player-runs/hits/ab</a></li>
                <li><a asp-controller="Home" asp-action="PlayersERA">PlayersERA</a></li>
                <li><a asp-controller="Home" asp-action="NWSUopponents">NWMSU Vs Opponents</a></li>
                <li><a asp-controller="Home" asp-action="TeamPerformance">Weather Conditions</a></li>
                <li><a asp-controller="Home" asp-action="Delete">Winning chart</a></li>
                <li><a asp-controller="Home" asp-action="generateVisualization">Generate Visualization</a></li>
                <li><a asp-controller="Home" asp-action="HeatMap">Visio</a></li>
                
            </ul>
        </li>
      

        <li class="dropdown">
            <a style="color:white" class="dropdown-toggle" data-toggle="dropdown" href="#">
                Seasonal Statistics
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a asp-controller="PlayerBattings" asp-action="Batting">Player Batting</a></li>
                <li><a asp-controller="PlayerBattings" asp-action="Fielding">Player Fielding</a></li>
                <li><a asp-controller="PlayerBattings" asp-action="Pitching">Player Pitching</a></li>

            </ul>
        </li>

        <li class="dropdown">
            <a style="color:white" class="dropdown-toggle" data-toggle="dropdown" href="#">
                Game Statistics
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a asp-controller="GamePitchings" asp-action="Games">OverallGameStatistics</a></li>
                <li><a asp-controller="GamePitchings" asp-action="GamePitching">GamePitchingSearch</a></li>
            </ul>
        </li>

        <li class="dropdown">
            <a style="color:white" class="dropdown-toggle" data-toggle="dropdown" href="#">
                More Info
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a asp-controller="Home" asp-action="Rules">Game Rules</a></li>
                <li><a asp-controller="Home" asp-action="gallery">Gallery</a></li>

            </ul>
        </li>
        
    </ul>
   
}
