@model SportsPrediction_NW_Baseball.Models.Player

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Player</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Bats_Throws" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Bats_Throws" class="form-control" />
                <span asp-validation-for="Bats_Throws" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Hometown_Highschool" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Hometown_Highschool" class="form-control" />
                <span asp-validation-for="Hometown_Highschool" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PlayerName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PlayerName" class="form-control" />
                <span asp-validation-for="PlayerName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Position" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Position" class="form-control" />
                <span asp-validation-for="Position" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="height" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="height" class="form-control" />
                <span asp-validation-for="height" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="weight" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="weight" class="form-control" />
                <span asp-validation-for="weight" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
