@model SportsPrediction_NW_Baseball.Models.Player

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Player</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Bats_Throws)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bats_Throws)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hometown_Highschool)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hometown_Highschool)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlayerName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlayerName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.height)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.height)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.weight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.weight)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.PlayerNumber">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
