@model IEnumerable<SportsPrediction_NW_Baseball.Models.Player>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Bats_Throws)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hometown_Highschool)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlayerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.height)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.weight)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Bats_Throws)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hometown_Highschool)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlayerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Position)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.height)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.weight)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.PlayerNumber">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.PlayerNumber">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.PlayerNumber">Delete</a>
        </td>
    </tr>
}
</table>
